node_modules/
mobile/node_modules/
server/node_modules/
npm-debug.log*
*.log
.env
mobile/.env
server/.env
.expo/
mobile/.expo/
server/data/app.db
mobile/devices.json
mobile/screen_caps/
server/dist/
server/server/data/app.db
